<section class="bg-main-light rounded p-3 my-5 py-5 shadow w-50 mx-auto">
  <h1 class="text-center h3">Forget Password</h1>

  <form #form1 *ngIf="first" class="vstack gap-3" [formGroup]="forgetForm" (ngSubmit)="handleForgetPassword()">
    <div class="form-item p-3">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control " placeholder="Your Email..." />
    </div>

    <button *ngIf="!isLoading" [disabled]="forgetForm.invalid" class="btn-main">
      Next
    </button>
    <button *ngIf="isLoading" type="button" disabled class="btn-main ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3" *ngIf="errMsg">
      {{ errMsg }}
    </p>
  </form>

  <form #form2 *ngIf="seconde" class="vstack gap-3" [formGroup]="verifyCode" (ngSubmit)="handleVerify()">
    <div class="form-item">
      <label for="resetCode">Reset Code:</label>
      <input type="text" formControlName="resetCode" class="form-control" placeholder="Your Reset Code..." />
    </div>

    <button *ngIf="!isLoading" [disabled]="verifyCode.invalid" class="btn-main">
      Confirm
    </button>
    <button *ngIf="isLoading" type="button" disabled class="btn-main ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3" *ngIf="errMsg">
      {{ errMsg }}
    </p>
  </form>

  <form #form3 *ngIf="done" class="vstack gap-3" [formGroup]="resetPassword" (ngSubmit)="handleResetPass()">
    <div class="form-item">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Your Email..." />
    </div>

    <div class="form-item">
      <label for="newPassword">newPassword:</label>
      <input type="password" formControlName="newPassword" class="form-control" placeholder="Your newPassword..." />
    </div>

    <button *ngIf="!isLoading" [disabled]="resetPassword.invalid" class="btn-main">
      Done
    </button>
    <button *ngIf="isLoading" type="button" disabled class="btn-main ms-auto">
      <span> <i class="fas fa-spinner fa-spin"></i> </span>
    </button>

    <p class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3" *ngIf="errMsg">
      {{ errMsg }}
    </p>
  </form>
</section>