<section class="w-75 mx-auto bg-main-light rounded-3 my-2 p-3">
  <h1>Shop Cart</h1>
  <p> Total Price : {{cartDetails.totalCartPrice}}</p>
  <div class="row border-bottom pb-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-2">
      <img [src]="item.product.imageCover" class="w-100 rounded-3" alt="">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-10">
          <h3 class="h5">{{item.product.title}}</h3>
          <p class="text-main m-0  ">Price : {{item.price | currency}}</p>
          <button (click)="removeProduct(item.product._id)" class="btn m-0 p-0  par"><i
              class="fa-regular fa-trash-can"></i>
            Remove</button>
        </div>
        <div class="col-md-2">
          <button class="btn-count btn" (click)="changeCount(1, item.count, item.product._id)">+</button>
          <span>{{item.count}}</span>
          <button class="btn-count btn" (click)="changeCount(-1, item.count, item.product._id)">-</button>
        </div>
      </div>
    </div>
  </div>
  <button [routerLink]="['/checkout',cartDetails._id]" class="btn-main">Online Payment <img
      src="./assets/images/visa-1.svg" alt=""></button>

  <button (click)="clearCart()" class="btn mx-2 rounded-1 btn-danger"> Clear Your Cart
    <i class="fas fa-trash"></i>
  </button>
</section>