<section class="w-75 mx-auto bg-main-light rounded-3 my-2 p-3">
  <h1>Orders</h1>
  <p> Total Price : {{cartDetails.totalOrderPrice}}</p>
  <div class="row border-bottom pb-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-2">
      <img [src]="item.product.imageCover" class="w-100 rounded-3" alt="">
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3 class="h5">{{item.product.title}}</h3>
          <p class="text-main m-0  ">Price : {{item.price | currency}}</p>

        </div>
        <div>
        </div>
      </div>
    </div>
  </div>

</section>